
<app-header-footer-template>
	<div id="page-grid">
		<div class="canvas">
			<a class="image-link" [style.background-image]="cover_path"></a>
			<p *ngIf="this.book.iban !== null" id="isbn">ISBN {{this.book.iban}}</p>
		</div>

		<div class="canvas">
			<h1>{{book.name}}</h1>
			<h2>{{book.author}}</h2>
			<p-fieldset *ngIf="this.book.desc" [toggleable]="true" [collapsed]="true" style="text-align: justify;">
				<ng-template pTemplate="header">Summary</ng-template>
				{{this.book.desc}}
			</p-fieldset>			
		</div>
	</div>
</app-header-footer-template>
