
<app-header-footer-template>
	<div id="page-grid">
		<div class="canvas">
			<a class="image-link" [style.background-image]="cover_path"></a>
			<p *ngIf="this.book.iban !== null" id="isbn">ISBN {{this.book.iban}}</p>
		</div>

		<div class="canvas">
			<i *ngIf="logged_in && !saved" class="pi pi-bookmark" (click)="saveToCollection()"></i>
			<i *ngIf="logged_in && saved" class="pi pi-bookmark-fill"></i>
			<h1>{{book.name}}</h1>
			<h2>{{book.author}}</h2>
			<p-fieldset *ngIf="this.book.desc" [toggleable]="true" [collapsed]="true" style="text-align: justify;">
				<ng-template pTemplate="header">Summary</ng-template>
				{{this.book.desc}}
			</p-fieldset>

			<ng-container *ngIf="org_id !== null && org_users.length > 0">
				<h3>In the organisation</h3>
				<p-table [value]="org_users" [tableStyle]="{'width': '100%'}">
					<ng-template pTemplate="header">
						<tr>
							<th>User</th>
							<th>Available</th>
							<th *ngIf="logged_in"></th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-user>
						<tr book-details-page-org-row [user]="user" [book_id]="book_id" [org_id]="org_id" [with_borrows]="logged_in"></tr>
					</ng-template>
				</p-table>
			</ng-container>
		</div>
	</div>
</app-header-footer-template>
