
.canvas {
	width: 900px;
}

i.pi-key, i.pi-star-fill {
	color: var(--col-golden);
}

h1 > i {
	font-size: 22px;
}


#profile-container {
	position: relative;
}

#profile-container > a {
	position: absolute;
	top: var(--spacing-large);
	right: var(--spacing-large);
}

#profile-container > a > i {
	font-size: 1.5rem;
}

#change-password-form input {
	width: 200px;
	margin-right: var(--spacing-normal);
}

.hbox {
	display: flex;
	flex-flow: row nowrap;
	gap: var(--spacing-normal);
}


#orgs-container, #books-container {
	margin-top: var(--spacing-normal);
}


#books-container > .hbox {
	justify-content: center;
	margin-top: var(--spacing-normal);
}


p-dialog .hbox {
	margin-top: var(--spacing-large);
}