
.hbox, .hbox-apart {
	display: flex;
	flex-flow: row nowrap;
	gap: var(--spacing-normal);
	justify-content: center;
}

.hbox {
	margin-top: var(--spacing-normal);
}

.hbox-apart {
	justify-content: space-between;
	align-items: center;
}


#loan-buttons {
	width: fit-content;
}


p {
	white-space: nowrap;
	margin-bottom: 0px;
}


p-timeline {
	display: block;
	min-width: 350px;
	margin-top: var(--spacing-large);
}
