
.p-inputgroup > input {
	width: 350px;
}

#books {
	margin-top: var(--spacing-large);
	display: grid;
	grid-gap: var(--spacing-medium);
	grid-template-columns: repeat(5,          190px);
	grid-template-rows:    repeat(auto-fill , 280px);
}

#books > app-book-card {
	height: 280px;
}


@media (max-width: 990px) {
	#books {
		grid-template-columns: repeat(4, 190px);
	}
}

@media (max-width: 790px) {
	#books {
		grid-template-columns: repeat(3, 190px);
	}
}
