
<app-header-footer-template>
	<div class="canvas content-width">
		<div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-users"></i></span>
            <input type="text" pInputText placeholder="Organisation" [(ngModel)]="filter">         
        </div>

		<p-table [value]="organisations | fieldFilter:filter:'name'" [tableStyle]="{'width': '100%'}">
			<ng-template pTemplate="header">
				<tr style="position: sticky;">
					<th>Organisation</th>
					<th>Users</th>
					<th *ngIf="logged_in">Join</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-org>
				<tr org-list-page-row [organisation]="org" [join_button]="logged_in"></tr>
			</ng-template>
		</p-table>
	</div>
</app-header-footer-template>
