/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
	/* Colours */
	--col-primary: #18ab55;
	--col-primary-light: #4fe88e;
	--col-tertiary-light: #4fa1e8;
	--col-canvas: #f7f7f7;
	--col-bg: #d0d0d0;
	--col-border: #aeaeae;
	--col-text: #101010;
	--col-text-light: #535c54;
	--col-link: #3276E3;
	
	/* Fonts */
	--text-font: 'Noto sans';

	/* Font sizes */
	--text-big: 28px;
	--text-regular: 14px;
	--text-small: 10px;
	--text-mini: 8px;

	/* Spacings */
	--spacing-large: 20px;
	--spacing-normal: 12px;
	--spacing-medium: 8px;
	--spacing-small: 4px;
}

body {
	font-family: var(--text-font), sans-serif;
	font-size: var(--text-regular);
	background-color: var(--col-bg);
	color: var(--col-text);
	margin: 0px;
}

a {
	text-decoration: none;
}

a, a:hover, a:visited {
	color: var(--col-link);
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
}

h1 {
	margin-bottom: var(--spacing-large);
}

p {
	margin-bottom: var(--spacing-medium);
}

.canvas {
	background-color: var(--col-canvas);
	padding: var(--spacing-normal);
	border: var(--col-border) solid 1px;
	border-radius: 3px;
}
