
<div id="page-container">
	<header>
		<a id="app-title" [routerLink]="['/index']">BookShare</a> 
		<a class="menuitem" [routerLink]="['/books']">Books</a>
		<span class="menuitem">
			<a [routerLink]="['/organisations']">Organisations</a>
			<div class="submenu" *ngIf="organisations.length > 0">
				<div class="submenu-arrow"></div>
				<div class="canvas">
					<a *ngFor="let org of organisations" [routerLink]="['/organisation/'+org.id]">{{org.name}}</a>
				</div>
			</div>
		</span>
		<ng-template [ngIf]="connected" [ngIfElse]="elseBlock">
			<a class="menuitem" *ngIf="admin" [routerLink]="['/users']">All users</a>
			<a class="menuitem" [routerLink]="['/user/'+uuid]">My profile ({{username}})</a>
			<span class="menuitem" (click)=logout()>Log out</span>
		</ng-template>
		<ng-template #elseBlock>
			<a class="menuitem" [routerLink]="['/login']">Log in</a>
			<a class="menuitem" [routerLink]="['/signin']">Sign in</a>
		</ng-template>
	</header>

	<div id="page-content">
		<ng-content></ng-content>
	</div>

	<footer>
		BookShare @ <a href="{{url}}">{{url}}</a>
	</footer>
</div>
